<div class="container">
  <nav class="navbar navbar-expand-sm bg-light">

    <div class="container-fluid">
      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Link 1</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link 3</a>
        </li>
      </ul>
    </div>

  </nav>
  <div>
    <div>{{name}}</div>
    <button (click)="name='Nilesh'">Change Name</button>
    <h2>Users Data: </h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Address</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="users.length > 0">
          <tr *ngFor="let user of users" (click)="selectUser(user)">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.address}}</td>
            <td>
              <div [ngSwitch]="user.status">
                <div *ngSwitchCase="'Active'" class="active">Active</div>
                <div *ngSwitchCase="'Inactive'" class="inactive">Inactive</div>
                <div *ngSwitchCase="'Deleted'" class="deleted">Deleted</div>
              </div>
            </td>
          </tr>
        </ng-container>
        <tr class="text-center" *ngIf="users.length <= 0"> There is No Data!!</tr>
      </tbody>

    </table>
  </div>

  <div>
    <h1>Selected User:</h1>
    <div [ngSwitch]="selectedUser">
      <div *ngSwitchCase="'Vishnu'">Vishnu</div>
      <div *ngSwitchCase="'Rahul'">Rahul</div>
      <div *ngSwitchCase="'Nilesh'">Nilesh</div>
    </div>
  </div>
  <section>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
      Open modal
    </button>

    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Modal body..
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
